1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 
+	
6 


solution (1)

in the above statement 

> values are :- 
    'hello' which is a string
    -87.8 is a negative float value which is a value
    6 is an int value 
    
> expression are:- 
    - > substraction are comes under mathematical expression
    / > this is also an expression
    + > this is addition expression

In [15]:
# solution (1)

a = *
b = 'hello'
c = -87.8
d = -
e = /
f = +
g = 6

print(b)
type(b)
print(c)
type(c)
print(d)
print(e)
print(f)
type(f)
print(g)
type(g)

SyntaxError: invalid syntax (1259415854.py, line 3)

2. What is the difference between string and variable?


solution (2)

variable :- which is used to store a data, data may be string ,int ,float , complex no or other , In variable particular data is store in the form of string , int and other data type  


string :- is a type of datatype , string is immutable which can not be changed or unchanged, str denoted between single ' ',  " " , """ """

In [40]:
# 3. Describe three different data types.

# solution three major datatype are:- (1) str ,(2) list (3) tuple

# STRING :- string is denoted by single , double , and triple qutoes both single and double are same but triple quotes is used for multiline test
#          * string are immutable which is unchanged after creation
#          * string syntax is str
#          * str can concatenate between two or more string but not which other datatype
#          * example of strings are :-

a = 'devendra' # single quotes
b = "devendra" # double quotes
c = """
x = 10
y = 20
z = 30
"""
d = a + b

print(a, type(a))
print(b, type(b))
print(c, type(c))
print(d, type(d))


# LIST :- list is sequencial datatype and mutable which can easily be changed after creation, list can store str, complex no, bool datatype, int , float etc,
#    * enclosed within square backets
#    * ordered collection of data
#    * having an index from zero
#    * example:- 

my_list = ['dev',True,1,2,3.25,5.52,5+0j]
print(my_list)
type(my_list)


# TUPLE :- tuple is an another data type in python which can be similar as list but can not be changed once created , same indexing as list
#    * ordered data collection
#    * immutable
#    * circular brackets are used 
#    * fast than list
#    * example :-

my_tuple = (1,2,3.25,4.25,'dev','mandloi',2+0j,True)
print(my_tuple)
type(my_tuple)

devendra <class 'str'>
devendra <class 'str'>

x = 10
y = 20
z = 30
 <class 'str'>
devendradevendra <class 'str'>
['dev', True, 1, 2, 3.25, 5.52, (5+0j)]
(1, 2, 3.25, 4.25, 'dev', 'mandloi', (2+0j), True)

tuple

In [50]:
# 4. What is an expression made up of? What do all expressions do?


# solution :- expression is a combination of variable , operations and values , expression that gives the output 

a = 5    # here 5 is an statement
b = 10 
c = a* b  # is an expressiom
print(c) # print is a statement

50

addition (+)
substraction (-)
division (/)
mouldo (%)
exponent (**)
floor division (//)

In [51]:
# que(5) . This assignment statements, like spam = 10. What is the difference between an expression and a statement?

# expression is a combination of values , variables and operation 
# assignment statement is represent an action or command

spam = 10 #this is an  statement
print(spam) # this is an assignment statement

10

In [52]:
# que(6)
# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1


bacon = 22 #variable contain a int 
bacon + 1 # when we add two or more same datatype then they can concatenates therefor answer is 23

23

In [57]:
# que(7)
# 7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3


# solution :- 

a = 'spam'+'spamspam'  
b = 'spam'*3

print(a) # they both contain same datatype
print(b) # multiplication can be done in a single type of datatype

spamspamspam
spamspamspam

In [58]:
# que(8)
# 8. Why is eggs a valid variable name while 100 is invalid?

# solution
# Python has some rules and rules are:-
#(1). Variable can not starts with a numbers
#(2). Variable can not starts with a special characters
#(3). Python is a case sensitive

# eggs is valid variable name because this is not start with a any numbers or special characters .
# wheares 100 is invalid because as per python rule variable can not starts with any numbers or special characters.

In [59]:
eggs = 'variable according to the python rules '

In [60]:
100 = 'this is not according to python rule'

SyntaxError: cannot assign to literal (2070262797.py, line 1)

In [67]:
# que(9)
# 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

# solution
int()
float()
str()

''

In [64]:
# que(10)
# 10. Why does this expression cause an error? How can you fix it?

# solution :- strings can not be concatinate between integers 

'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [65]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'

In [66]:
#or 

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'